#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* -------------------------------------- */
@font-face {
  font-family: "Poppins";
  src:
    local("DancingScript"),
    url("https://fonts.googleapis.com/css2?family=Poppins&display=swap") format("truetype");
  font-weight: bold;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1a1a40;
  padding: 2rem;
  width: 460px;
  border-radius: 5px;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.TodoSearch {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-bottom: 1.5rem;
}
.input-search {
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  border: 2px solid black;
  border-right: none;
  outline: none;
}

.search-btn {
  border-radius: 0 5px 5px 0;
  background-color: white;
  border: 2px solid black;
  color: black;
  border-left: none;
  padding: 0 10px;
}
.search-btn:disabled {
  border: 2px solid black;
  border-left: none;
}
